body {background-image: url("");
		background-repeat: ;
		background-color: black;
		color: white;
}

.well{
	color:black;
}

#Youtube{
	color: maroon;
}

h3 {
	color: royalblue;
	
}

#videos {
	background-color: maroon;
	border-color: red;

}

#pp {
	color: white;
	background-color: transparent;
}

#page-header {
	color: orange;
	font-family: 'Racing Sans One', cursive;
	font-size: 30pt;
}

#page-header-books {
	color: orange;
	font-family: 'Special Elite', cursive;
	font-size: 30pt;
}

#youtube-page-header {
	color: orange;
	font-family: 'Press Start 2P', cursive;
	font-size: 30pt;
}

#jumbo{
	background-color: gray;
}

#jumboBooks{
	background-color: darkgreen;
}

#nav {

	background-color: darkgray;



}
#navItem {
	color: white;


}
#homepage {
	color: white;
	background-color: transparent;
}

