body {background-image: url("");
		background-repeat: ;
		background-color: black;
		color: white;
}

.well{
	color:black;
}

#Youtube{
	color: maroon;
}

h3 {
	color: royalblue;
	
}

#videos {
	background-color: maroon;
	border-color: red;

}

#pp {
	color: white;
	background-color: transparent;
}

#page-header {
	color: orange;
}

#jumbo{
	background-color: gray;
}

#homepage {
	color: white;
	background-color: transparent;
}